.banner {
    display:flexbox;
    background-image: url('../../IMG/UnderWater-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: #cccccc;
    width:100%;
    height:35vh;
}